<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  <script src="http://www.swipe.net/sample/js/jQueryRotate.js"></script>
  <script src="http://www.swipe.net/sample/js/mediaelement/mediaelement-and-player.min.js"></script>
  <script src="http://www.swipe.net/sample/js/snap.svg.js"></script>
  
  <link rel="stylesheet" href="http://www.swipe.net/sample/swipe.css" />
  <link rel="stylesheet" href="http://www.swipe.net/sample/js/mediaelement/mediaelementplayer.css" />

  <script src='https://js.swipe.net/js/swipe.js'></script>
  <script src="http://www.swipe.net/sample/js/jquery.wheelstop.js"></script>

  <script>

    function callback(json) {
      SwipeScreen.setSize(100);
      SwipeUtil.initTouchSwipe(json);
      var swipe_book = SwipeUtil.getSwipeBook();
      swipe_book.set_finish_callback(function(finished) {
	      if (finished) {
	        $("#finish").css({
		        "opacity": 0.8,
		        "display": "block"
	        })
	      } else {
	        $("#finish").css({
		        "opacity": 0.8,
		        "display": "none"
	        })
	      }
      });
    }

    $(document).ready(function () {
      var script = document.createElement('script');
      if (SwipeUtil.getParameterByName("file")) {
        script.src = SwipeUtil.getParameterByName("file");
      } else {
        script.src = './main.js';
      }
      document.body.appendChild(script);
      
    });
  </script> 

  <title>Swipe</title>			
  </head>
    <div id="swipe_back">
      <div id="swipe">
      </div>
    </div>
    <div id="finish">
      finished
    </div>
  </body>
  
</html>
